<html>
    <body>
        {% if name %}
        <h1>Hello {{ name }}</h1>
        {% else %}
        <h1>Hello!</h1>
        {% endif %}
        {% if cache %}
        <p>Cache: {{ cache }}</p>
        {% endif %}
        {% if orders %}
        <ul>
            {% for order in orders %}
            <li>{{ order.id }} | {{ order.customer.first_name }} {{order.customer.last_name}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if aggregate %}
        <p>{{ aggregate }}</p>
        {% endif %}
        <div id="TokenForm">
            <form method="post" id="tokenForm">
                <label for="username">Username</label>
                <input id="username" type="text"><br>
                <label for="password">Password</label>
                <input id="password" type="password"><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div>
            <button id="btnToken">Click Me</button>
        </div>
    </body>
    <script type="text/javascript">
        const divToken = document.getElementById('tokenForm');
        const btnToken = document.getElementById('btnToken')

        divToken.addEventListener('submit', async (e) => {
            e.preventDefault()

            const username = document.getElementById('username').value
            const password = document.getElementById('password').value

            const response = await fetch('http://127.0.0.1:8000/auth/jwt/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                    },
                body: JSON.stringify({
                    'username': username,
                    'password': password
                }),
            })

            if (!response.ok) {
                const errorData = await response.json();
                throw new Error(errorData.error || 'Unknown Error');
            }

            const data = await response.json();
            console.log(data)
        })

        btnToken.addEventListener('click', async () => {
            const response = await fetch('http://127.0.0.1:8000/auth/users/me/', {
                method: 'GET',
                credentials: "include"
            })

            if (!response.ok) {
                const errorData = await response.json()
                throw new Error(errorData.detail || 'Unknown error')
            }

            const data = await response.json()
            console.log(data)
        })
    </script>
</html>